a:hover {
  cursor: pointer;
}

.card {
  margin-bottom: 7px;
}

.cancel-btn,
.cancel-btn:hover {
  background-color: tomato;
  border-width: 2px;
  color: black;
}

.confirm-btn,
.confirm-btn:hover {
  background-color: antiquewhite;
  border-width: 2px;
  color: black;
}

#logo {
  font-family: "Satisfy", cursive;
  font-size: 35px;
}

#img-carrito {
  height: 40px;
}

#divider {
  margin-top: 2px;
}

#main-img {
  width: 100%;
}

#items {
  margin: 0;
  vertical-align: middle;
}

#menu-bar {
  height: 80px;
}

#total {
  font-weight: bold;
  margin-bottom: 0;
}

#order-buttons {
  float: right;
  margin-top: 0;
  margin-right: 40px;
}

#section-content {
  width: 100%;
  margin: 0px;
  padding: 0px;
}

#modal-cancel-btn {
  margin-bottom: 5px;
}

#general-container {
  width: 100%;
  margin: 0px;
  padding: 0px;
}

#cart-placeholder:hover {
  cursor: pointer;
}

#cart-summary {
  margin-top: -17px;
  padding-top: 0px;
}
